elpa/
auto-save-list/
eln-cache/
transient/
url/
mastodon.plstore/
newsticker/
themes/
games/
eshell/
tree-sitter/
history
init.el
custom.el
.lsp-session-v1
ellama-sessions/
projects

# nix-direnv
.direnv/
